@import "../../../styles.scss";

h1 {
    text-align: center;
    letter-spacing: 3px;
    text-decoration: underline;
}



table {
  margin-left:auto;
  margin-right:auto;
  width: 25%;
}

th, td {
  padding: .6em;
  text-align: left;
}

tr:nth-child(odd) {background-color: color(tablerow);}
